<h1><span id="page_name" class="mercury-region" data-mercury="full"><%= @page.name %></span></h1>
<div id="page_content" class="mercury-region" data-mercury="full">
  <%= simple_format(@page.content, {}, sanitize: false) %>
</div>
